body {
    display: grid;
    grid-template: auto 300px auto / 1fr auto;
}

header {
    background: rgb(4, 81, 107);
    padding: 2rem;
    color: white;
    grid-column: 1 / 3;
}

nav a {
    /* display: flex; */
    margin: 5px;
    padding: 25px;
    color: white;
    font-size: large;

}

main {
    background: coral;
    grid-column: 1 / 2;
}

.right-sidebar {
    background: yellow;
    grid-column: 2 / 3;
}

footer {
    background: rgb(4, 81, 107);
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 3;
    color: white;
}